.App-logo {
  max-width: 70px;
  margin-top: 8px;
  padding: 2px;
  border: 2px solid rgb(204, 150, 122);
  border-radius: 5px;
}

.App-footer {
  margin: 30px 0;
  color: whitesmoke;
  font-size: 16px;
}

.App-footer a {
  color: whitesmoke;
  text-decoration: none;
  font-weight: bold;
}

.App-footer a:hover {
  text-decoration: underline;
  color: rgb(204, 150, 122);
}

body {
  background-image: url(https://i.ibb.co/ypjJy5R/pexels-janko-ferlic-590493.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Yantramanav", sans-serif;
}
